
﻿@model project_tiki.Models.NoteViewEditViewModel
@Styles.Render("~/public/css/editnote.css")
@Styles.Render("~/public/css/cproject.css")

<h2 class="text-center">Create a Project</h2>

<div class="text-center">
          @using (Html.BeginForm())
          {
                    
                    @Html.TextBox("title", "", new { placeholder = "Project Title" })
                    <br />
                    <label for="datedue">Enter a due date for this project:</label>
                    <br />
                    @Html.TextBox("datedue", "", new { placeholder = "mm/dd/yyyy" })
                    <br />
                    <input type="submit" value="Create Project" />
          }
</div>
