﻿@model project_tiki.Models.SingleProjectViewModel
@Styles.Render("~/public/css/project.css")

@{ 
    ViewBag.changeID = "/SingleProject/ChangeMembers/" + Model.TheProject.ProjectID;
    ViewBag.themeID = "/SingleProject/ChangeTheme/" + Model.TheProject.ProjectID;

}


<div id="ProjectHead">
    <h2>@Model.TheProject.Title</h2>


    
    <a href=@ViewBag.changeID>Change Members</a> | 
    <a href=@ViewBag.themeID>Change Theme</a>
    </div>

<div class="row">
    @foreach (var list in Model.TaskLists)
    {
    @Html.Partial("TaskListPartial", list)
    }
</div>