﻿@model project_tiki.Models.SingleProjectViewModel
@Styles.Render("~/public/css/editnote.css")
@Styles.Render("~/public/css/edittheme.css")

<h2 class="modal-title">Edit Theme</h2>
@using (Html.BeginForm("ChangeTheme", "SingleProject"))
            {
    <h4>Project Color</h4>
                <div class="colors btn-group" data-toggle="buttons">
                    <label style="background-color: #FFFFFF;" class="colors btn btn-default">
                        <input type="radio" value="0"  />
                    </label>
                    <label style="background-color: #DDF9D9;" class="colors btn btn-default">
                        <input id="ctwo" type="radio" value="0"  />
                    </label>
                    <label style="background-color: #529A86;" class="colors btn btn-default">
                        <input id="cthree" type="radio" value="0"  />
                    </label>
                    <label style=" background-color #D1FAFF;" class="colors btn btn-default">
                        <input id="cfour" type="radio" value="0"  />
                    </label>
                </div>

                    <h4>Project Font</h4>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-default">
                            <input type="radio"  /> Arial
                        </label>
                        <label class="btn btn-default">
                            <input id="ftwo" type="radio"  /> Montserrat
                        </label>
                        <label class="btn btn-default">
                            <input id="fthree" type="radio" /> Times
                        </label>
                        <label class="btn btn-default">
                            <input id="ffour" type="radio"  /> Roboto
                        </label>
                    </div>

                    <h4>Project Font Color</h4>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-default">
                            <input type="radio" value="0" /> White
                        </label>
                        <label style="color: #000000;" class="btn btn-default">
                            <input type="radio" value="0" /> Black
                        </label>
                        <label style="color: #E8432B;" class="btn btn-default">
                            <input type="radio" value="0"/> Red
                        </label>
                        <label style="color: #ACEBAE;" class="btn btn-default">
                            <input type="radio" value="0" /> Mint
                        </label>
                    </div>
                    <br />
                    <br />
                    <input type="submit" value="Save Changes" />
}
