﻿@model project_tiki.Models.ViewNote

@Styles.Render("~/public/css/editnote.css")
@Styles.Render("~/public/css/editmembers.css")

                <h2 class="modal-title">Edit Members</h2>
            
                @foreach (var member in ViewBag.Members)
                {
                    <div class="memberButtons">
                        <label>@member.UserName</label>
                        <button type="button" class="btn btn-danger">
                             <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        </div>
                }
           
               <h3>Add a Member</h3>
                @using (Html.BeginForm("UserSearched", "SingleProject"))
                {
                    <label>User Name:</label>
                    @Html.TextBox("username")
                    <input type="submit" value="Search" />
                }