﻿﻿@model project_tiki.Models.NoteViewEditViewModel
@Styles.Render("~/public/css/editnote.css")
@Styles.Render("~/public/css/cproject.css")

<div class="text-center">
    <h1>@ViewBag.Message</h1>
</div>
