﻿@model project_tiki.Models.ViewNote
@Styles.Render("~/public/css/main.css")
@Styles.Render("~/public/css/editnote.css")

@{
    ViewBag.Members = "";

    foreach (var m in Model.Members)
    {
        ViewBag.Members += m.UserName + " ";
    }
}

<div class="row">
    <div style="font-face{font-family: 'TheFont'; src: url(@Model.FontSource);} background-color: @Model.Background; color: @Model.Color; font-family: 'TheFont';">
        @using (Html.BeginForm("TaskEdited", "SingleProject"))
        {
            @Html.TextBox("title", Model.Title, new { maxlength = 20, placeholder = "Task Title" })
            <div id="note">
                @Html.TextArea("content", Model.Content, new { placeholder = "Write your task description here" })
                </div>
            <p>Last Edited: @Model.LastEdited</p>
            <input type="submit" value="Save" />
            <div style="display: none; visibility: hidden;">
                @Html.TextBox("taskid", Model.NoteID)
                @Html.TextBox("bgColor", Model.Background)
                @Html.TextBox("color", Model.Color)
                @Html.TextBox("font", Model.FontSource)
                @Html.TextBox("members", Model.Members)
            </div>
        }
    </div>
</div>