﻿@Styles.Render("~/public/css/aboutnotes.css")

@{
    ViewBag.Title = "Projects";
}
<h2>@ViewBag.Title</h2>

<p>Projects with Tiki are simple to manage. You can create a variety of task lists and assign team members to those on a task by task basis.</p>


<div class="row">
    <div class="col-md-6">
        <img src="~/public/images/CreateProject.png" />
    </div>

    <div class="col-md-6">
       <p>Creating projects requires very little from you, just specify a title for your project and a due date and you're ready to go!</p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <img src="~/public/images/ProjectLand.png" />
    </div>
    <div class="col-md-6">
        <p>All the tasks for a project are nicely laid out and it's simple to find tasks.</p>
        <p>All tasks are organized by tags, commonly tagged tasks are put into the same task list.</p>
    </div>
</div>
