﻿@Styles.Render("~/public/css/aboutnotes.css")

@{
    ViewBag.Title = "Notes";
}
<h2>@ViewBag.Title</h2>

<p>Notes can be shared to multiple people or kept to yourself. They are widely customizeable and easy to create and save. These are perfect for taking notes in class or meetings.</p>

<div class="row">
    <div class="col-md-6">
        <img src="~/public/images/CreateNote.png" />
    </div>

    <div class="col-md-6">
        <p>Creating notes is very simple and intuitive.</p>
        <p>You can simply follow the easy to use buttons on the site and create as many notes as you want.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <img src="~/public/images/NoteView.png" />
    </div>
    <div class="col-md-6">
        <p>As you can see, you are not limited in the amount of content in your notes so you can write anything from a quick reminder to a novel.</p>
        </div>
    </div>
