﻿@{
    ViewBag.Title = "Tiki - Home";
}

<div class="col-md-12">
    <img id="headeryo" src="~/public/images/headerblack.png" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Project Management</h2>
        <p>
            Tiki provides various tools for managing your team, whether you are on a strict timeline or have more flexible deadlines. 
            Tiki makes it easy to connect and manage various tasks and individuals.
        </p>
        <p><a class="btn btn-default" href="/AboutProjects">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Perfect for Single Users</h2>
        <p>Not worried about project management but just want a place to organize your thoughts or personal projects? Tiki is also perfect for individuals!</p>
        <p><a class="btn btn-default" href="/AboutNotes">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Get Started</h2>
        <p>Click here to start using Tiki!</p>
        <p><a class="btn btn-default" href="/Account/Login">Learn more &raquo;</a></p>
    </div>
</div>