﻿input[type="text"] {
    border: none;
    border-bottom: 2px solid #8AA12D;
    font-size: 30px;
}

input[type="submit"] {
    border: none;
    background: #8AA12D;
    color: #FFF;
    float: right;
    font-size: 16px;
    padding: 5px;
}

#content, textarea {
    width: 80%;
    max-width: 80%;
    height: 500px;
    max-height: 500px;
}

#tags {
    max-width: 70%;
    width: 70%;
    max-height: 40px;
}

#note {
    margin: 10px 10% 10px 10%;
}

textarea {
    border-color: #C3D483;
    font-size: 14px;
    padding: 10px;
    margin: 10px;
}