﻿@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
    font-family: "Montserrat", "Helvetica Nue", Arial, Helvetica, sans-serif;
    margin-top: 50px;
}

input[type="submit"] {
    float: none;
}

.color {
    width: 50px;
    height: 50px;
}

input[type="text"] {
    font-size: 14px;
    padding-right: 10px;
}