﻿@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
    font-family: "Montserrat", "Helvetica Nue", Arial, Helvetica, sans-serif;
    margin-top: 50px;
}

input[type="submit"] {
    float: none;
}

input[type="text"] {
    font-size: 14px;
    padding-right: 10px;
}