﻿@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
    font-family: "Montserrat", "Helvetica Nue", Arial, Helvetica, sans-serif;
    margin-top: 50px;
}

#headeryo {
   width: auto;
   margin-left: -20px;
   padding-left: 0;
}

#allProjects, #allNotes {
    margin-left: 50px;
}

#allNotes .row .col-md-4 {
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 10px;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(63,138,135,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(63,138,135,0.5); 
}

#allProjects {
    margin-left: 0;
}

footer {
    clear: both;
}

img {
    width: 150px;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form, .navbar-inverse {
    background-color: #FFF;
    border: none;
}

.navbar-inverse .navbar-nav > li > a {
    color: #3F8A87;
}

.navbar-nav > li > a {
    font-size: 16px;
    line-height: 60px;
}

h2 {
    font-family: "Montserrat";
    font-weight: bold;
}

h3{ 
    font-family: "Montserrat";
    font-weight: 300;
}

h5, h6, p {
    font-family: "Montserrat";
}

a {
color: #8AA12D;
}

a:link, a:visited {
    color: #8AA12D;
}


a:hover, a:active {
    color: #89a02c;
}