﻿.taskList {
    border-radius: 25px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    max-height: 600px;
    overflow-y: scroll;
    margin: 25px;
}

.projectTask {
    padding-bottom: 20px;
}

.taskHead {
    font-weight: bold;
}