﻿@model project_tiki.Models.NoteViewEditViewModel
@Styles.Render("~/public/css/editnote.css")

<h2>Create a Note</h2>

<div class="row">
          @using (Html.BeginForm())
          {
                    @Html.TextBox("title", "", new { placeholder = "Note Title" })
                    <div id="note">
                        @Html.TextArea("content", new { @placeholder = "Note Content" })
                        <br />
                        <label for="tags">Tags:</label>
                        @Html.TextArea("tags")
                    </div>
                    <p>Last Edited: Now</p>
                    <input type="submit" value="Create" />
          }
</div>
