﻿@model project_tiki.Models.NoteViewEditViewModel
@Styles.Render("~/public/css/editnote.css")

    @{
        ViewBag.Title = Model.TheNote.Title;

        ViewBag.Members = "";

        foreach (var m in Model.Members)
        {
            ViewBag.Members += m.UserName + " ";
        }
        
        ViewBag.TagString = "";

        foreach(var t in Model.TheNote.Tags)
        {
            ViewBag.TagString += t.Title + ", ";
        }
        String testTagString = ViewBag.TagString;
    }

<div class="row">
        @using (Html.BeginForm("Edited", "NoteViewEdit"))
        {
            @Html.TextBox("title", Model.TheNote.Title, new { maxlength=20, placeholder="Note Title" })
            <div>Current Members: @ViewBag.Members</div>

            <div id="note">
                @Html.TextArea("content", Model.TheNote.Content, new { placeholder="Write your note here" })
                <br />
                <label for="tags">Tags:</label>
                @Html.TextArea("tags", @testTagString, new { placeholder="Place your tags here, separated by commas" })
            </div>
            <p>Last Edited: @Model.TheNote.LastEdited</p>
            <input type="submit" value="Save" />
            <div style="display: none; visibility: hidden;">
                @Html.TextBox("noteid", Model.TheNote.NoteID)
                @Html.TextBox("bgColor", Model.TheNote.Background)
                @Html.TextBox("color", Model.TheNote.Color)
                @Html.TextBox("font", Model.TheNote.FontSource)
                @Html.TextBox("members", Model.Members)
            </div>
        }

    @Html.ActionLink("Edit Members", "ChangeMembers", new { noteid = Model.TheNote.NoteID }) |
    @Html.ActionLink("Edit Theme", "OpenEditTheme", new { id = Model.TheNote.NoteID })

</div>