﻿@model project_tiki.Models.ViewNote
@Styles.Render("~/public/css/editnote.css")
@Styles.Render("~/public/css/edittheme.css")

             <h2 class="modal-title">Edit Theme</h2>
            @using (Html.BeginForm("ChangeTheme", "NoteViewEdit"))
            {
                <h4>Note Color</h4>
                <div class="colors btn-group" data-toggle="buttons">
                    <label id="one" onclick="newColor(this.id)" style="background-color: #FFFFFF;" class="colors btn btn-default">
                        <input type="radio" />
                    </label> 
                    <label id="two" onclick="newColor(this.id)" style="background-color: #DDF9D9;" class="colors btn btn-default">
                        <input id="ctwo" type="radio" />
                    </label>
                    <label id="three" onclick="newColor(this.id)" style="background-color: #529A86;" class="colors btn btn-default">
                        <input id="cthree" type="radio" />
                    </label>
                    <label id="four" style="background-color: #D1FAFF;" class="colors btn btn-default" onclick="newColor(this.id)">
                        <input id="cfour" type="radio" />
                    </label>
                    </div>

                <h4>Note Font</h4>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default">
                        <input  id="fone" onclick="newFont(this.id)" type="radio" /> Arial
                    </label>
                    <label class="btn btn-default">
                        <input id="ftwo" onclick="newFont(this.id)" type="radio" /> Montserrat
                    </label>
                    <label class="btn btn-default">
                        <input id="fthree" onclick="newFont(this.id)" type="radio" /> Times
                    </label>
                    <label class="btn btn-default">
                        <input id="ffour" onclick="newFont(this.id)" type="radio"/> Roboto
                    </label>
                </div>

                <h4>Note Font Color</h4>
                <div class="btn-group" data-toggle="buttons">
                    <label id="fcone" onclick="newFontColor(this.id)" class="btn btn-default">
                        <input type="radio" /> White
                    </label>
                    <label id="fctwo" onclick="newFontColor(this.id)" style="color: #000000;" class="btn btn-default">
                        <input type="radio" /> Black
                    </label>
                    <label id="fcthree" onclick="newFontColor(this.id)" style="color: #E8432B;" class="btn btn-default">
                        <input type="radio" /> Red
                    </label>
                    <label id="fcfour" onclick="newFontColor(this.id)" style="color: #ACEBAE;" class="btn btn-default">
                        <input type="radio"/> Mint
                    </label>
                </div>
                <br />
                <br />

                <div style="display:none;">
                    @Html.TextBox("noteid", Model.NoteID)
                    @Html.TextBox("bgColor")
                    @Html.TextBox("color")
                    @Html.TextBox("font")

                </div>

                <script>

                        function newColor (idmaybe) {
                            var thing = document.getElementById(idmaybe);
                            var bg = document.getElementsByName("bgColor");
                            bg[0].value = thing.style.backgroundColor.toString();
                            bg[0].innerHTML = thing.style.backgroundColor.toString();

                            console.log(bg);
                        }

                        function newFontColor(idthing) {
                            var fthing = document.getElementById(idthing);
                            var fcolor = document.getElementsByName("color");
                            fcolor[0].value = fthing.style.backgroundColor.toString();
                        }

                        //function newFont(aidmaybe) {
                        //    var fthing = document.getElementById(aidmaybe);
                        //    var f = document.getElementsByName("font");
                        //    f[0].value = fthing.style.backgroundColor.toString();
                        //}
                </script>
                        <input type="submit" value="Save Changes" />
            }
   