﻿@model project_tiki.Models.ViewNote
@Styles.Render("~/public/css/editnote.css")
@Styles.Render("~/public/css/editmembers.css")

       <h2>Edit Members</h2>
       
                <h3>Current Members</h3>
                @foreach (var member in ViewBag.Members)
                {
                    <div class="memberButtons">
                        <label>@member.UserName</label>
                        <button type="button" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        </div>
                }
           
               <h3>Add a Member</h3>
                <p>Enter the username of the member you would like to add to this note</p>
                @using (Html.BeginForm("UserSearched", "NoteViewEdit"))
                {
                    @Html.TextBox("username")
                    <input type="submit" value="Search" />
                }
