﻿@model project_tiki.Entities.Note

@{
    ViewBag.Title = "Details";
}

<h2>Details <h5>in collaboration with: Team Members</h5></h2>

<form>
    <div style="background-color: @Model.Color;">
        <input type="text" value="@Model.Title" placeholder="Title"/>
        <textarea placeholder="Write your note here!">@Model.Content</textarea>
        <textarea placeholder="tags">@Model.NoteTags</textarea>
    </div>

    <input type="submit" value="Save" />
</form>

<button>Edit Members</button>
<button>Change Theme</button>