﻿@model IEnumerable<project_tiki.Entities.Note>

<h2>Notes</h2>

<p>
    @Html.ActionLink("Create Note", "Create")
</p>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-4">
                <h3>@item.Title <!--<h5>in collaboration with: item.</h5>--></h3>
                <p>@item.Content</p>
                <p>Tagged Under: @item.NoteTags</p>
                <h6>Created At: @item.Date_Created</h6>

                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </div>
        </div>
}
