﻿@model project_tiki.Entities.NoteArchive

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NoteArchive</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_Due)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Due)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Unarchive", "Unarchive", new { id = Model.Id }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
    @Html.ActionLink("Back to List", "Index")
</p>
