﻿@using project_tiki.Entities
@model project_tiki.Models.UserLandingViewModel


<div id="allNotes" class="col-md-6 col-md-offset-2">
    <h2>Notes</h2>

    <a href="/CreateNote">Create a Note</a>


    @functions {
        string getUsers(List<AspNetUser> users)
        {
            string mer = "";
            foreach (AspNetUser u in users)
            {
                mer += u.UserName + " ";
            }

            return mer;
        }

        string getTags(List<Tag> tags)
        {
            string mer = "";
            foreach (Tag t in tags)
            {
                mer += t.Title + " ";
            }

            return mer;
        }
    }
    <div class="row">
        @foreach (var item in Model.UserNotes)
        {
            <div class="col-md-4" style="background-color: @item.Background">
                <h3>@item.Title </h3><h5>in collaboration with: @getUsers(item.Members)</h5>
                <p>@item.Content</p>
                <p>Tagged Under: @getTags(item.Tags)</p>
                <h6>Created At: @item.LastEdited</h6>
                <a href="Notes/@item.NoteID">Edit</a>
                <a>|</a>
                <a href="NoteViewEdit/Archive/@item.NoteID">Delete</a>
            </div>
        }
    </div>
</div>