﻿@using project_tiki.Entities
@model project_tiki.Models.UserLandingViewModel

@functions {
    string getUsers(List<AspNetUser> users)
    {
        string mer = "";
        foreach (AspNetUser u in users)
        {
            mer += u.UserName + " ";
        }

        return mer;
    }
}

<div id="allProjects" class="col-md-5 col-md-offset-2">
    <h2>Projects</h2>

    <a href="/CreateProject">Create a Project</a>

    <table class="table">
        <tr>
            <th>Project Name</th>
            <th>Collaborators</th>
            <th>Last Edited</th>
        </tr>

        @foreach (var item in Model.UserProjects)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>

                <td>
                    @getUsers(item.Members)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.LastEdited)
                </td>
                <td>
                    <a href="SingleProject/@item.ProjectID">View</a>
                    <a>|</a>
                    <a href="SingleProject/Archive/@item.ProjectID">Delete</a>
                </td>
            </tr>
        }
    </table>
</div>