﻿@model project_tiki.Models.SingleTask
@using project_tiki.Entities

@functions {
    string getUsers(List<AspNetUser> users)
    {
        string mer = "";
        foreach (AspNetUser u in users)
        {
            mer += u.UserName + " ";
        }

        return mer;
    }
}

<div class="projectTask">
    <div class="taskHead">
        <h3>@Model.Title</h3>
        <p>Members: @getUsers(Model.Members)</p>
    </div>

    <p>@Model.Content</p>
    @Html.ActionLink("View Task", "ViewTask", new {id = Model.TaskID })
</div>